.body{
    background:linear-gradient(to right,aqua,rgb(195, 248, 195),rgba(255, 255, 0, 0.822));
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}
.table-outline, .table-outline th, .table-outline td {
    border: 1px solid black; 
    padding: 10px; 
    text-align: center;

}
.head{
    color:rgb(25, 0, 255);
    font-size:20px;
}
.body{
    font-size:18px;
}

.body-with-padding {
    padding: 10px;
  }
  .bg{
    background-Image:url('https://www.open.edu/openlearn/pluginfile.php/3143042/tool_ocwmanage/image/0/dil_1_OLHP_786x400.jpg');
  }

.practice{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;
    /* background:#001e4d; */
    background-color:#001e4d;
    height:100vh;
   
}
.app{
    background:#fff;
    width:90%;
    max-width:600px;
    margin:100px auto 0;
    border-radius:10px;
    padding:30px;
}
.app h1{
    font-size:25px;
    color:#001e4d;
    font-weight:600;
    border-bottom:1px solid #333;
    padding-bottom:30px;
}
.quiz{
    padding:20px 0;
}
.quiz h2{
    font-size:18px;
    color:#001e4d;
    font-weight:600;
}
.button{
    background:#fff;
    color:#222;
    font-weight:500;
    width:100%;
    border:1px solid #222;
    padding:10px;
    margin:10px 0;
    text-align:left;
    border-radius:4px;
    cursor:pointer;
    transition: all 0.3s;
   
}
.button:hover:not([disabled]){
    background:#222;
    color:#fff;
}
.btn:disabled{
    cursor:no-drop;
}
#next-btn{
    background:#001e4d;
    color:#fff;
    font-weight:500;
    width:150px;
    border:0;
    padding:10px;
    margin:20px auto 0;
    border-radius:4px;
    cursor:pointer;
    display:none;
}
.correct{
    background:#9aeabc;
}
.incorrect{
    background:#ff9393;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  /* body{
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #3aaccb;
    min-height: 100vh;
    width: 100%;
  }
   */
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    /* box-shadow: 2px 2px 10px 1px rgb(102, 3, 102); */
    box-shadow: 2px 2px 10px 1px #333;  
    overflow: hidden;
    padding: 10px;
    position: relative;
  }
  .heading-txt{
    color:white;
    /* color:#276272; */
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    text-align: center;  
    text-transform: uppercase;
  }
  .question{
    margin:8px;
    box-shadow: 0px 0px 10px 1px #a2a3a3;
    border-radius: 5px;
    padding:5px;
    font-size: large;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    min-width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #question-number{
    margin-right: 5px;
  }
  .option-container{
    display: flex;
    flex-direction: column;
    margin:6px 4px;    
    width: 100%;
    padding: 10px;
  }
  /* .option-container input{
    visibility: hidden;    
  } */
  .option-btn{
    box-shadow: 0px 0px 4px 1px rgb(128, 123, 123);
    padding: 5px;
    border-radius: 3px;
    border:none;
    outline: none;
    transition: 0.3s;
    margin: 5px;
    min-height: 30px;
    background-color: white;
  }
  
  .checked{
    background-color: rgb(179, 83, 179);
    color:white;
    box-shadow: 3px 3px 4px 1px rgb(78, 69, 78);
  }
  .option-btn:hover{
    background-color: rgb(212, 118, 212);
    color:white;
  }
  #next-button{
    padding:10px;
    border:none;
    background-color: purple;
    background-color: #276272;
    color:white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
    font-size: larger;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;
    width:100px;
    position: absolute;
    bottom: 15px;
  }
  #next-button:active{
    box-shadow:none;    
  }
  .show-score{
    position: absolute;
    top:30%;
    font-size: 40px;
    text-align: center;  
  }
#next-quiz{
   
    padding:10px;
    background-color: #276272;
    border:none;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
    font-size: larger;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;
    width:100px;
    /* position: absolute; */

}